input {
  flex: 1;
  padding: 10px;
  border: none;
  /*border-radius: 8px;*/
  outline: none;
}

.input-underline {
  height: 2px;
  background: var(--orange);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.3s;
}

.input-underline.error {
  width: 100%;
  background: darkred;
}

input:focus + .input-underline {
  width: 100%;
}
