.input-container {
  position: relative;
  width: 300px;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  /*border-radius: 8px;*/
  outline: none;
  width: 100%;
}

.clear-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  color: #999;
  display: none;
}

input:not(:placeholder-shown) + .clear-btn {
  display: block; /* Show the clear button when input has text */
}
